doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1.0, \
    maximum-scale=1.0, user-scalable=no, minimal-ui")

  script(src="bower_components/platform/platform.js")
  script(src="bower_components/requirejs/require.js")

  link(rel="stylesheet" href="main.css")
  link(rel="import" href="bower_components/youtube-embed/dist/youtube.html")

body
  .container
    != yield

  script.
    require(['app'], function(app) { app.init(); });
