
h1.text-center /b/-list generator
hr

textarea.form-control(js-input rows=10)
hr

.row
  .col-md-6.col-md-offset-3
    button.btn.btn-block.btn-primary(js-button) go
hr

#player

ul#b-list.b-list.list-group(js-b-list)
hr

textarea.form-control(js-output rows=10)

//- list template
script(type="text/x-handlebars-template" js-b-list-template)
  li.list-group-item.b-list-item(data-code="{{code}}" class="{{playing}}")
    span.b-list-count {{count}}
    span.b-list-playing.glyphicon.glyphicon-play

    span(js-title) {{title}}
    //- span(js-url) {{item}}


//- player template
script(type="text/x-handlebars-template" js-player-template)
  youtube-embed(videoid="{{code}}")

  //- .panel.panel-default(data-num="{{num}}")

  //-   .panel-heading(id="heading-{{num}}" data-toggle="collapse" data-parent="#b-list" data-target="#collapse-{{num}}")

  //-     {{#if loaded}}
  //-     hf.panel-title {{otheritem}}
  //-     {{else}}
  //-     h4.panel-title {{item}}
  //-     {{/if}}

  //-   .panel-collapse.collapse(id="collapse-{{num}}" class="{{#if in_class}}in{{/if}}"): .panel-body
  //-     youtube-embed(videoid="{{code}}")
  //-     //- iframe.lazy-load(type="text/html" width="640" height="390" frameborder="0"
  //-     //-   data-echo="https://www.youtube.com/embed/?enablejsapi=1&origin=http://localhost/")
