
h1.text-center b-list.audio
hr

// b-list.audio-1
ins( class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3499832062666260"
     data-ad-slot="5629130948"
     data-ad-format="auto" )
hr

textarea.form-control(js-input rows=10)
br

.row
  .col-md-6.col-md-offset-3
    button.btn.btn-block.btn-primary(js-button) go
hr

#js-b-list-player
hr

ul#b-list.b-list.list-group(js-b-list)
hr

textarea.form-control(js-output rows=10)



//- list template
script(type="text/x-handlebars-template" js-b-list-template)
  li.list-group-item.b-list-item(data-code="{{code}}" class="{{playing}}")
    span.b-list-count {{count}}
    span.b-list-playing.glyphicon.glyphicon-play

    span(js-title) {{title}}



script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

script.
  (adsbygoogle = window.adsbygoogle || []).push({});

