
h1.text-center /b/-list generator

hr
textarea.form-control(js-input rows=10)

hr
.row
  .col-md-6.col-md-offset-3
    button.btn.btn-block.btn-primary(js-button) go

hr
textarea.form-control(js-output rows=10)

ol(js-list)
