// Bootstrap
$icon-font-path: "bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.b-list-item {
  position: relative;
  user-select: none;
  cursor: row-resize;
}

.b-list-count {
  margin-right: 1em;

  .playing & {
    display: none;
  }
}

.b-list-playing {
  margin-right: 1em;
  display: none;

  .playing & {
    display: inline;
  }
}
